{% extends "base.html" %}

{% block title %}
Категория 1
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Категория 1</h1>
<div class="row">
    <!-- Товар 1 -->
    <div class="col-md-4 mb-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Товар 1</h5>
                <h2 class="card-price">$100</h2>
                <p class="card-text">
                    10 users included, 2 GB of storage, Email support, Help center access
                </p>
                <button class="btn btn-primary">Купить</button>
            </div>
        </div>
    </div>
    <!-- Товар 2 -->
    <div class="col-md-4 mb-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Товар 1</h5>
                <h2 class="card-price">$100</h2>
                <p class="card-text">
                    10 users included, 2 GB of storage, Email support, Help center access
                </p>
                <button class="btn btn-primary">Купить</button>
            </div>
        </div>
    </div>
    <!-- Товар 3 -->
    <div class="col-md-4 mb-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Товар 1</h5>
                <h2 class="card-price">$100</h2>
                <p class="card-text">
                    10 users included, 2 GB of storage, Email support, Help center access
                </p>
                <button class="btn btn-primary">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
