{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1 class="mb-4">Главная</h1>
<p>Вы находитесь на сайте, предназначенном для продажи товаров.</p>
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${{ product.price }}</h6>
                <p class="card-text">{{ product.description }}</p>
                <a href="#" class="btn btn-primary">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}